@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

html {
    font-family: 'Oswald';
    text-align: center;
    font-size: large;
    overflow: auto;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(/ssc/images/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #0067A1;
    background-blend-mode:screen;
}

main {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
    grid-template-rows: 15vh auto auto auto auto;
    height: 100vh;
    row-gap: 1em;
}

.topbar {
    display: flex;
    justify-content: space-between;
    grid-row: 1 / 2;
    grid-column: 2 / 5;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: #E9EFF3;
    align-self:initial;
    background-color: rgba(233, 239, 243, .65);  
    backdrop-filter: blur(5px);
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.logo {
    padding: 0.8em;
    text-align: left;
}

.headerimage {
    height: 12vh;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 1em;
}

.navigation {
    flex-wrap: nowrap;
}

nav {
    display: flex;
    color: #A0A4A7;
    padding-top: 2.5em;
    padding-right: 2em;
}

a {
    color: #373435;
    text-decoration: none;
}

a:hover {
    border-bottom: solid #00A2FF 0.2em;
    transition: 125ms;
}



button {
    border-style: none;
    text-align: center;
    font-size: x-large;
    font-family: 'Oswald';
    font-weight: 500;
    background-color: rgba(233, 239, 243, 0.0);  
    backdrop-filter: blur(5px);
}

.profile {
    grid-row: 4 / 5;
    height: auto;
    border-radius: 0.5em;
    padding: 2em;
    max-width: 16em;
    justify-self: center;
    overflow: auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: rgba(233, 239, 243, .65);  
    backdrop-filter: blur(5px);
    
}
.profile1 {
    grid-column: 2 / 3;
}

.profile2 {
    grid-column: 3 / 4;
}

.profile3 {
    grid-column: 4 / 5;
}

.main1 {
    padding: 2em;
    grid-column: 2 / 5;
    grid-row: 3 / 4;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 0.5em;
    background-color: rgba(233, 239, 243, .65);  
    backdrop-filter: blur(5px);
    font-style: oblique;
}

.main2 {
    padding: 2em;
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 0.5em;
    background-color: rgba(233, 239, 243, .65);  
    backdrop-filter: blur(5px);
}

.footer {
    grid-column: 2 / 5;
    grid-row:  5 / 6;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: rgba(233, 239, 243, .65);  
    backdrop-filter: blur(5px);
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
}