* {
    font-family: 'Courier New', Courier, monospace;
}

/*.diagonal-box-right {
    background-color:#0067A1 ;
    transform: skewY(12deg);
    position: relative;
    top: -40rem;
    
} 
.content { 	
	max-width: 50em;
    margin: 0 auto;
    height: 600px;
    transform: skewY(-12deg);
}
*/
main {
    
}

nav {
    display: inline-grid;
    grid-template: 1fr 1fr 1fr 1fr;
    width: 100%;
}

.logo {    
    background-color: #E9EFF3;
    margin: 10px;
    padding: 20px;
    border-radius: 2%;
    grid-row: 1 / 2;
    grid-area: auto;
}

.navigation li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    grid-row: 3 / 4;
    
}